*.o
*.mod
*~
*__genmod.f90

.cproject
.project
.settings/
pacs_photproject
tamasis.pyc
tamasisfortran.so
test_cfitsio
test_fitstools
test_math
test_ngc6946_bpj
test_optionparser
test_pacs
test_pointing
test_projection
test_read_config
test_sort
test_stack
test_stdio
test_wcs
test_wcslib1
test_wcslib2
test_wcslibc
