*.o
*.mod
*~
*pyc
*__genmod.f90

.cproject
.project
.settings/
pacs_photproject
tamasis.pyc
tamasisfortran.so
test_cfitsio
test_compression
test_deglitching
test_fitstools
test_madcap
test_math
test_ngc6946_bpj
test_optionparser
test_pacs
test_pacsinstrument
test_pacsobservation
test_pacspointing
test_pointingmatrix
test_preprocessor
test_projection
test_read_config
test_sort
test_stack
test_stdio
test_string
test_wcs
test_wcslib1
test_wcslib2
test_wcslibc
